{% extends 'main/layout.html' %}

{% block title  %}Ціни{% endblock %}

{% block content  %}

<div class="container-fluid">
  <div class="section-heading text-center">
    <h1>Ціни</h1>
    <p>Ми пропонуємо конкурентні ціни на всі наші послуги.</p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="treatment-card">
        <div class="treatment-content">
          <h3>Початкова консультація</h3>
          <p>
            1350 - 2700 UAH
            <br>
            <br>
            Під час початкової консультації наш спеціаліст проведе докладний огляд вашого стану здоров'я ротової порожнини і рекомендує найкращий курс лікування для вас.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="treatment-card">
        <div class="treatment-content">
          <h3>Чищення зубів</h3>
          <p>
            1350 - 4050 UAH
            <br>
            <br>
            Регулярне чищення і полірування зубів є важливими для підтримки здоров'я ротової порожнини і запобігання захворюванням ясен.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="treatment-card">
        <div class="treatment-content">
          <h3>Пломбування та видалення</h3>
          <p>
            2700 - 10800 UAH
            <br>
            <br>
            Ми пропонуємо різноманітні матеріали для пломбування, які відповідають вашим потребам, включаючи амальгаму, композитну смолу та золото.
            <br>
            <br>
            За необхідності ми можемо видалити зуби, які пошкоджені поза відновленням або врізалися.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="treatment-card">
        <div class="treatment-content">
          <h3>Коронки та мости</h3>
          <p>
            13500 - 40500 UAH
            <br>
            <br>
            Коронки та мости використовуються для відновлення пошкоджених або відсутніх зубів, покращуючи як їх функціональність, так і зовнішній вигляд.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="treatment-card">
        <div class="treatment-content">
          <h3>Ендодонтія (лікування каналів)</h3>
          <p>
            10800 - 40500 UAH
            <br>
            <br>
            Ендодонтія використовується для видалення інфікованої тканини зсередини зуба, що рятують його від видалення.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="treatment-card">
        <div class="treatment-content">
          <h3>Дентальні імплантати</h3>
          <p>
            27000 - 94500 UAH
            <br>
            <br>
            Дентальні імплантати використовуються для заміни відсутніх зубів штучним корінцем та коронкою.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="treatment-card">
        <div class="treatment-content">
          <h3>Відбілювання зубів</h3>
          <p>
            5400 - 16200 UAH
            <br>
            <br>
            Відбілювання зубів може проводитися в нашому офісі або за допомогою комплекту для використання в домашніх умовах, залежно від ваших вподобань.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="treatment-card">
        <div class="treatment-content">
          <h3>Протези</h3>
          <p>
            13500 - 94500 UAH
            <br>
            <br>
            Протези можуть використовуватися для заміни відсутніх зубів, і ми пропонуємо як повні, так і часткові комплекти.
          </p>

        </div>
      </div>
    </div>

  </div>

</div>

{% endblock %}