{% extends 'main/layout.html' %}

{% block title  %} Послуги {% endblock %}

{% block content  %}

{% load static %}
    <div class="container-fluid">
      <div class="section-heading text-center">
        <h1>Дентальне лікування</h1>
        <p>Наші спеціалісти нададуть професійну допомогу у випадку карієсу.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Діагностика карієсу</h3>
              <p>
               Наші спеціалісти проведуть ретельну діагностику карієсу, щоб визначити його стадію та обсяг.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Методи лікування карієсу</h3>
              <p>
                Ми пропонуємо різні методи лікування карієсу, в тому числі зубне наповнення з допомогою таких матеріалів, як:
              </p>
              <ul>
                <li>Композитний резин</li>
                <li>Золото</li>
                <li>Порцеляна</li>
                <li>Амальгама</li>
              </ul>
              <p>
                Ми забезпечимо професійне лікування карієсу, щоб запобігти його прогресуванню та уникнути серйозніших ускладнень.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Ендодонтські процедури</h3>
              <p>
                Наші спеціалісти мають досвід у виконанні ендодонтських процедур, таких як кореневі канали, щоб врятувати зуби, загрожені втратою.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Протезування зубів</h3>
              <p>
                Ми створюємо протези, які відповідають вашим потребам, щоб відновити втрачені зуби, відновити челюсну функцію, покращити вигляд і підвищити ваше самопочуття.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Профілактичні процедури</h3>
              <p>
                Ми пропонуємо різні профілактичні процедури, такі як професійна чистка зубів, флюоризація та навчання правильної гігієни зубів, щоб запобігти карієсу та іншим стоматологічним проблемам.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Хірургічні процедури</h3>
              <p>
                Ми проводимо різні хірургічні процедури, такі як видалення зубів, видалення пухлин та інші стоматологічні операції.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}