{% extends 'main/layout.html' %}

{% block title  %} Послуги {% endblock %}

{% block content  %}

{% load static %}
    <div class="container-fluid">
      <div class="section-heading text-center">
        <h1>Естетична стоматологія</h1>
        <p>Ми допоможемо вам повернути гарну посмішку.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-card">
            <div class="service-content">
              <h3>Білі зуби</h3>
              <p>
                Білі зуби - це не лише символ здоров'я, але й успіху та самоповаги. Ми забезпечимо вам яскраві та чисті зуби.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <div class="service-content">
              <h3>Вирівнювання зубів</h3>
              <p>
                Вирівнювання зубів допоможе вам позбутися нерівномірності зубів та отримати ідеальний, рівномірний та красивий сміх.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card">
            <div class="service-content">
              <h3>Моделювання зубів</h3>
              <p>
                Моделювання зубів дозволить покращити форму або колір ваших зубів, щоб виглядали вони найкраще.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}