{% extends 'main/layout.html' %}

{% block title  %} Превентивні стоматологічні процедури {% endblock %}

{% block content  %}

{% load static %}
  <div class="container-fluid">
    <div class="services-heading text-center">
      <h1>Превентивні стоматологічні процедури</h1>
      <p>Превентивні стоматологічні процедури можуть запобігти проблемам з зубами в майбутньому.</p>
    </div>
    <div class="services-list">
      <div class="service-card">
        <div class="service-content">
          <h3>Профілактична чистка зубів</h3>
          <p>
            Профілактична чистка зубів допомагає усунути зубний наліт, запобігаючи захворюванням пародонта та карієсу.
          </p>
        </div>
      </div>
      <div class="service-card">
        <div class="service-content">
          <h3>Флюоризація</h3>
          <p>
            Флюоризація допомагає запобігти карієсу, зміцнюючи емаль зубів.
          </p>
        </div>
      </div>
      <div class="service-card">
        <div class="service-content">
          <h3>Навчання правильній гігієні зубів</h3>
          <p>
            Навчання правильній гігієні зубів допоможе пацієнтам усвідомити важливість регулярної гігієни зубів, щоб зберегти здорові зуби та ясну посмішку.
          </p>
        </div></div>
      <div class="service-card">
        <div class="service-content">
          <h3>Діагностика карієсу та пародонтозу</h3>
          <p>
            Рання діагностика карієсу та пародонтозу допомагає запобігти серйознішим проблемам з зубами в майбутньому.
          </p>
        </div>
      </div>
      <div class="service-card">
        <div class="service-content">
          <h3>Регулярні огляди стоматолога</h3>
          <p>
            Регулярні огляди стоматолога дозволяють ранню діагностику та лікування проблем з зубами, запобігаючи серйозним проблемам у майбутньому.
          </p>
        </div>
      </div>
      <div class="service-card">
        <div class="service-content">
          <h3>Захист зубів</h3>
          <p>
            Захист зубів, такий як використання установок для гризливаних речей, може допомогти запобігти пошкодженням і карієсу.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}