{% extends 'main/layout.html' %}

{% block title  %} Хірургічні процедури {% endblock %}

{% block content  %}

{% load static %}
    <div class="container-fluid">
      <div class="section-heading text-center">
        <h1>Хірургічні процедури</h1>
        <p>Ми маємо великий досвід хірургічних втручань, таких як деkapітація зубів та імплантація.</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Декапітація зубів</h3>
              <p>
                Декапітація зубів - це хірургічна процедура, яка передбачає видалення частини кореня зуба.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Імплантація</h3>
              <p>
                Імплантація - це процедура, яка передбачає встановлення штучного кореня в кістку щелепи.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Точне планування</h3>
              <p>
                Ми проводимо точне планування хірургічних втручань, щоб забезпечити безпечне та ефективне проведення процедур.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="treatment-card">
            <div class="treatment-content">
              <h3>Мінімально інвазивні методи</h3>
              <p>
                Ми використовуємо мінімально інвазивні методи, щоб мінімізувати травми та побічні ефекти під час хірургічних втручань.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}