{% extends 'main/layout.html' %}

{% block title  %} Лікарі {% endblock %}

{% block content  %}

{% load static %}
  <div class="doctors-heading-container">
    <h1 class="doctors-heading">Лікарі</h1>
    <div class="buttons-outer-container">
       <div class="buttons-container">
            <a href="/application">
                <button class="square-button green-button">
                    <img src="{% static 'main/img/plus.png' %}" class="button-image">
                </button>
            </a>
       </div>
    </div>
  </div>
      <div class="doctor-grid">
        <div class="doctor-item">
            <img src="{% static 'main/img/doctors/doc1.jpg' %}" class="doctor-image" alt="Doctor1">
            <h2 class="doctor-name">Доктор Майкл Дентон</h2>
            <h2 class="doctor-ed">Освіта: DDS з Університету стоматологічних наук</h2>
            <h2 class="doctor-w-exp">Стаж: 15 років</h2>
        </div>
          <div class="doctor-item">
            <img src="{% static 'main/img/doctors/doc1.jpg' %}" class="doctor-image" alt="Doctor1">
            <h2 class="doctor-name">Ім'я</h2>
            <h2 class="doctor-name">Освіта</h2>
            <h2 class="doctor-name">Стаж</h2>
        </div>
          <div class="doctor-item">
            <img src="{% static 'main/img/doctors/doc1.jpg' %}" class="doctor-image" alt="Doctor1">
            <h2 class="doctor-name">Ім'я</h2>
            <h2 class="doctor-name">Освіта</h2>
            <h2 class="doctor-name">Стаж</h2>
        </div>
          <div class="doctor-item">
            <img src="{% static 'main/img/doctors/doc1.jpg' %}" class="doctor-image" alt="Doctor1">
            <h2 class="doctor-name">Ім'я</h2>
            <h2 class="doctor-name">Освіта</h2>
            <h2 class="doctor-name">Стаж</h2>
        </div>
          <div class="doctor-item">
            <img src="{% static 'main/img/doctors/doc1.jpg' %}" class="doctor-image" alt="Doctor1">
            <h2 class="doctor-name">Ім'я</h2>
            <h2 class="doctor-name">Освіта</h2>
            <h2 class="doctor-name">Стаж</h2>
        </div>
          <div class="doctor-item">
            <img src="{% static 'main/img/doctors/doc1.jpg' %}" class="doctor-image" alt="Doctor1">
            <h2 class="doctor-name">Ім'я</h2>
            <h2 class="doctor-name">Освіта</h2>
            <h2 class="doctor-name">Стаж</h2>
        </div>
          <div class="doctor-item">
            <img src="{% static 'main/img/doctors/doc1.jpg' %}" class="doctor-image" alt="Doctor1">
            <h2 class="doctor-name">Ім'я</h2>
            <h2 class="doctor-name">Освіта</h2>
            <h2 class="doctor-name">Стаж</h2>
        </div>
          <div class="doctor-item">
            <img src="{% static 'main/img/doctors/doc1.jpg' %}" class="doctor-image" alt="Doctor1">
            <h2 class="doctor-name">Ім'я</h2>
            <h2 class="doctor-name">Освіта</h2>
            <h2 class="doctor-name">Стаж</h2>
        </div>
        </div>
      </div>
{% endblock %}