{% extends 'main/layout.html' %}

{% block title  %} Recenzii {% endblock %}

{% block content  %}

{% load static %}
    <div class="container-fluid">
      <div class="section-heading text-center">
        <h1>Рецензії на нашу клініку</h1>
        <p>Дізнайтеся, що говорять наші пацієнти про нас.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-content">
              <p>
                <strong>Ольга, 32 роки:</strong>
                <br>
                "Після відвідування клініки, я відчуваю себе впевненіше у своєму здоров'ї. Дякую за професійну допомогу!"
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-content">
              <p>
                <strong>Михайло, 45 роки:</strong>
                <br>
                "Найкраща клініка в місті! Всі спеціалісти дуже професійні та доброзичливі. Рекомендую!"
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-content">
              <p>
                <strong>Наталія, 28 роки:</strong>
                <br>
                "Дуже вдячна за допомогу у випадку мого карієсу. Тепер я можу посміхатисязнову!"
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-content">
              <p>
                <strong>Іван, 38 років:</strong>
                <br>
                "Професійна та доброзичлива команда. Рекомендую клініку всім, хто шукає якісне лікування!"
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-content">
              <p>
                <strong>Анна, 25 років:</strong>
                <br>
                "Дуже вдячна за допомогу у випадку мого карієсу. Тепер я можу посміхатися знову!"
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="review-card">
            <div class="review-content">
              <p>
                <strong>Олексій, 42 роки:</strong>
                <br>
                "Найкраща клініка в місті! Всі спеціалісти дуже професійні та доброзичливі. Рекомендую!"
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}