{% extends 'main/layout.html' %}

{% block title  %} Послуги {% endblock %}

{% block content  %}

{% load static %}
  <div class="container-fluid">
    <div class="services-heading text-center">
      <h1>Наші послуги</h1>
      <p>Ми пропонуємо широкий спектр послуг, щоб відповісти на потреби наших пацієнтів.
      </p>
    </div>
    <div class="services-container row">
      <div class="col-md-4">
        <div class="service-card">
          <div class="service-content">
            <h3>Профілактика</h3>
            <p>
              Профілактичні  зубні процедури можуть<br>
              запобігти проблемам  з зубами<br>
              в майбутньому.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-card">
          <div class="service-content">
            <h3>Консультація лікаря</h3>
            <p>
              Кожний пацієнт отримує<br>
              персональну консультацію<br>
              з нашим досвідченим лікарем.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-card">
          <div class="service-content">
            <h3>Естетична стоматологія</h3>
            <p>
              Ми допоможемо вам<br>
              повернути гарну посмішку.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-card">
          <div class="service-content">
            <h3>Зубне лікування</h3>
            <p>
              Наші фахівці<br>
              нададуть професійну допомогу
              <br> при перебуванні з карієсом.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-card">
          <div class="service-content">
            <h3>Хірургічні процедури</h3>
            <p>
              Маємо великий досвід<br>
              в хірургічних втручаннях.<br>
              Обезголовлення зубів та<br>
              імплантація.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-card">
          <div class="service-content">
            <h3>Ціни</h3>
            <p>
              Ми пропонуємо<br>
              конкурентоспроможні ціни<br>
              на всі наші послуги.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}