/* Стилі для контейнера надпису "Лікарі" */
.doctors-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  line-height: 1.5;
  padding-left: 60px;
  margin-top: 30px;
  border-bottom: 2px solid gray;
}

/* Стилі для надпису "Лікарі" */
.doctors-heading {
  color: green;
  padding-left: 80px;
  display: inline; /* Налаштування надпису як інлайн-елемента для правильного вирівнювання */
}

/* Стилі для зовнішнього контейнера кнопок */
.buttons-outer-container {
  flex-grow: 1; /* Займає доступний вільний простір */
  text-align: right; /* Вирівнювання до правого краю */
}

/* Стилі для контейнера кнопок */
.buttons-container {
  display: flex;
  justify-content: right;
  margin-right: 80px;
}

/* Стилі для кнопок */
.square-button {
  width: 40px;
  height: 40px;
  border: none;
  margin-left: 10px; /* Між кнопками */
  border-radius: 5px;
}

/* Зелена кнопка */
.green-button {
  background-color: #4CAF50;
}

/* Червона кнопка */
.red-button {
  background-color: red;
}

/* Стилі для списку лікарів */
.doctor-list {
  margin-top: 20px; /* Регулювання верхнього відступу */
}

.doctor-list ul {
  list-style-type: none;
  padding: 0;
}

.doctor-list ul li {
  margin-bottom: 5px; /* Регулювання відступу між елементами списку */
}

.button-image {
    width: 30px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
}
