.container {
  max-width: 1200px;
  margin-top: 0 auto;
  padding: 40px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
  background-color: #f5f5f5;
}

.container h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333;
}

.container address,
.container abbr {
  display: block;
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #555;
}


.container a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 2px solid #007bff;
}

.container a:hover {
  text-decoration: underline;
}