/* Стилі для контейнера надпису "Пацієнти" */
.patients-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  line-height: 1.5;
  padding-left: 60px;
  margin-top: 30px;
  border-bottom: 2px solid gray;
}

/* Стилі для надпису "Пацієнти" */
.patients-heading {
  color: green;
  padding-left: 80px;
  display: inline;
}

/* Стилі для контейнера кнопок */
.buttons-outer-container {
  flex-grow: 1;
  text-align: right;
}

/* Стилі для кнопок */
.square-button {
  width: 45px;
  height: 45px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
}

/* Зелена кнопка */
.green-button {
  background-color: #4CAF50;
}

/* Червона кнопка */
.red-button {
  background-color: red;
}

/* Стилі для контейнера сітки */
.patient-grid-container {
  margin: 0 20px;
  margin-left: 65px;
}

/* Стилі для рядка сітки */
.patient-grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Стилі для елемента сітки */
.patient-grid-item {
  width: 31%;
  margin: 10px 0;
  text-align: left;
}

/* Стилі для алерту */
.alert {
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}


